<div class="country-card {{#if infected}}infected{{/if}}" >
    <img class="country-flag" src="{{flag}}" alt="flag of {{name}}">
    <h2 class="country-name">{{name}}</h2>
    <p>Столиця: {{capital}}</p>
    <p>Валюта: {{currency}}</p>
    <p>Мова: {{language}}</p>
    <p>Населення: {{population}}</p>
</div>